/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wgth' var(--text-font-weight);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image:
    repeating-linear-gradient(90deg, var(--bg-image-color_1), transparent 2px),
    repeating-linear-gradient(var(--bg-image-color_1), transparent 2px),
    linear-gradient(var(--bg-image-color_2), var(--bg-image-color_3));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* --------------------HEADER-------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  background-color: inherit;
  margin: 100px auto 102px;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
}

.header__logo {
  margin-block-start: 32%;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* --------------------HEADER-menu-------------------- */


.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transform: translateX(10px)
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--text-font-weight);
  transition: opacity .3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  /*transform: scaleX(0);*/
  transition: width .3s ease, opacity .3s ease;
}

.theme-menu__button:focus {
  opacity: .6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  /*transform: scaleX(1);*/
  width: 100%;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -19px;
  animation: drifting 0.5s infinite ease-in-out alternate;
}

@keyframes drifting {
  from {
    inset-inline-start: -19px;
  }
  to {
    inset-inline-start: -24px;
  }
}

/* --------------------MAIN-------------------- */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  inline-size: 100%;
  border: 2px solid var(--accent-color);
}

/* --------------------MAIN-card-------------------- */

.content__card {
  inline-size: 100%;
  font-size: 18px;
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
}

/* --------------------MAIN-image-------------------- */

.card__image__box {
  position: relative;
  display: flex;
  border-block: 2px solid var(--accent-color);
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--text-font-weight);
  line-height: normal;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: .5;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
}

@supports ((text-stroke: 1px var(--bg-color))
  or (-webkit-text-stroke: 1px var(--bg-color))) {
  
  .card__image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

/* --------------------MAIN-content-------------------- */

.card__content {
  padding: 25px 30px 0 25px;
}

.card__content-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.667%;
}

.card__content-text + .card__content-text {
  margin-block-start: 27px;
}

/* --------------------MAIN-like-------------------- */

.card_like-section {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: end;
  padding: 25px;
}

.card__icon-button {
  display: flex;
  background-color: inherit;
  border: none;
}

.like-icon {
  margin: auto;
  fill: var(--accent-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--text-font-weight);
  line-height: 90%;
}

/* --------------------FOOTER-------------------- */

.footer {
  display: flex;
  inline-size: 100%;
  margin: auto;
}

.save-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin: 52px auto 100px;
  padding: 15px 20px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.save-button-icon {
  inline-size: 28px;
  block-size: 28px;
}

/* --------------------MEDIA-------------------- */

@media(width > 376px) {
  
  .header,
  .content,
  .footer {
    inline-size: 48.5%;
    max-inline-size: 1440px;
  }

  .header__logo {
    margin-block-start: 19.5%;
    max-inline-size: 1440px;
  }

  .save-button {
    flex-direction: row;
  }

  .save-button-icon {
    inline-size: 21px;
    block-size: 21px;
  }

}